#gal{
    margin-top: -262px;
    margin-left: 850px;
}
#bvb{
 
   
    margin-top: -50px;
    height: 64px;
    color: rgb(75, 43, 43);

}
#blom{
    width: 1354px;
    height: 414px;
    margin-top: -21px;
}
.malou{
    margin-left: 500px;
    margin-top: 10px;
}
.blak {
    padding-left: 50px;
    font-weight: bold;


}
.blak a{
    text-decoration: none;
    display: inline-block;
    color: rgb(112, 109, 109);
 

}
.nav-link {
    padding: 14px;

}
.blak a:hover{
    color:  rgb(75, 43, 43);
    cursor: pointer;
}
#bob{
    margin-top: 134px;
    margin-left: 78px;
}
#miki{
    margin-top: -50px;
    margin-left: 50px;
}
#brown{
    margin-left: 106px;
} 
#card{    margin-left: 125px;}
#like{
    margin-left: 158px;
}
#hard{
    margin-left: 500px;
    margin-top: -226px;
}
#box{
    margin-left:500px ;
    margin-top: -28px;
}
#pink{
    margin-left: 94px;
}
#red{
    margin-left: 919px;
    
}
#white{
    margin-left: 919px;
}